

.intro {
    font-family: 'Alfa Slab One';
    text-align: center;
    padding: 0.75rem;

}

.imagegraph{
    max-width: 1200px;
    padding-top: 100px;
    margin: 0 auto;
    align-content: center;
    padding-left: 2rem;
    padding-right: 2rem;
}


.intro .byline {
    font-family: 'Alfa Slab One';
    font-size: 1.2em;
    font-weight: 200;
    margin-top: 20px
}
.intro .big {
    font-family: 'Alfa Slab One';
    font-size: 3.75em;
    line-height: 1.3;
    margin: 0 auto;
    font-weight: 300;
    padding-top: 30px;
    margin: auto;
    max-width: 2000px;
}

#header_image{
    max-width: 800px;
    padding-top: 200px;
    margin: 0 auto;
    padding-left: 2rem;
    padding-right: 2rem;

}

.subheader{
    font-size: 23px;
    max-width: 700px;
    line-height: 25px;
    margin: auto;
    padding-top: 30px;
    padding-bottom:50px;


}
body {
    background-color: #F7F7F5;
    color: black;
    background-size: 100%;
    padding-bottom: 100px;
    padding: 30px
  }
   
p {
    
    margin: 1.5rem 0;
    font-size: 12px;
    line-height: 1.7;
    font-family: 'Roboto Slab';
}
.card{
    max-width: 20%;
}
.chart-notes {
    font-size: 15px;
    max-width: 800px;
    padding: 1rem;
    /* padding-top: 2rem; */
    margin: 0 auto;
    margin-bottom: 3em;
    
    line-height: 18px;
    /* background-color: rgba(228, 179, 99, 0.1) */
}

  
.quote{
    margin: auto;
    max-width: 800px;
    font-size: 24px;
    line-height : 30px;
    margin-top: 70px;
    /* border-left: 3px solid #e4b363;
    padding-left: 15px; */

}

.main-body{
    font-size: 21px;
    line-height : 30px;
    margin: auto;
    max-width: 800px;
    padding-bottom: 20px;
}

.inline-img {
    /* display: inline-block; */
    width:40%;
    margin: 0 auto;
    align-items: center;
    padding: 3em;
    }

/* .intro{
    background-color: aqua;
}

.section1{
    background-color: aquamarine;
} */

.section-header{
    text-align: center;
    margin: auto;
    max-width: 800px;
    padding-top: 100px;
    padding-bottom: 30px;
    font-family: 'Roboto Slab';
    font-size: 30px;
    line-height: 1.3;
    font-weight: 900;
}

.chart{
    padding-top: 30px;
    padding-bottom: 30px;
    /* max-width:2000px !important; */
}

.Sources{
    padding-top: 60px;
    max-width: 700px;
    font-size: 11px;
    font-family: 'Roboto Slab';
    margin: 0 auto;
    text-align: center;
}

a {
    background-color: rgba(228, 179, 99, 0.2);
    color: black;
    }
